#contact: piotr4@gmail.com
#version 1.0
#GPLv3

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/x-flv;video/mp4;application/x-mpegURL;video/MP2T;video/3gpp;video/quicktime;video/x-msvideo;video/x-ms-wmv;video/x-matroska;video/webm;video/ogg;video/mpeg;video/h264;
Actions=extractSubs
X-KDE-Priority=TopLevel
X-KDE-Submenu=Video Analyse
X-KDE-StartupNotify=false

[Desktop Action extractSubs]
Name=Extract Subtitles
Icon=media-view-subtitles-symbolic
Exec=type ccextractor; if [ $? -eq 0 ]; then konsole --hold -e bash -c 'dbusRef=$(kdialog --title="Subtitles" --progressbar "            Extracting...    Please wait...            " 0); ccextractor %U; qdbus $dbusRef close; kdialog --title "Subtitles" --passivepopup "Subtitles Extracted ('%U').";  kdialog --title "Subtitles" --msgbox "Extracting complete. Check the console for details.";'; else kdialog --title "Package missing" --error "Please install ccextractor from package manager."; fi;